################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bulky/.vs/Bulky
/Bulky/BulkyWeb/bin/Debug/net8.0
/Bulky/BulkyWeb/obj
/Bulky/.vs/ProjectEvaluation
/Bulky/BulkyWebRazor_Temp/obj
/Bulky/Bulky.DataAccess/bin/Debug/net8.0
/Bulky/Bulky.DataAccess/obj
/Bulky/Bulky.Models/bin/Debug/net8.0
/Bulky/Bulky.Models/obj
/Bulky/Bulky.Utility/bin/Debug/net8.0
